<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard EKG</title>
    <link rel="stylesheet" href="tu_estilo.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Dashboard EKG</h1>
        </div>
        <div class="ekg-container">
            <div class="ekg-line">
                <!-- Aquí puedes agregar la animación EKG -->
            </div>
            <div class="data-panel">
                <div class="data-card">
                    <h2>SPO2</h2>
                    <div class="data-value">95%</div>
                </div>
                <!-- Agrega más paneles de datos similares para otros parámetros -->
            </div>
        </div>
    </div>
</body>
</html>


<div class="col-md-6">
    <div class="panel box-v1">
        <div class="panel-heading bg-white border-none">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                <h4 class="text-left">Presión</h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <h4>
                    <span class="icon-user icons icon text-right"></span>
                </h4>
            </div>
        </div>
        <div class="panel-body text-center">
            <h1 id="pressure"></h1>
            <hr/>
        </div>
    </div>

    <div class="container-ekg">
        <div class="container-ekg">
            <div class="grid">
                <div class="col-10_sm-12 graph">
                        <div class="cell cell-1"></div>
                        <div class="cell cell-2"></div>
                        <div class="cell cell-3"></div>
                        <div class="number-1 cell-number"><h1 id="spo2">0</h1></div>
                        <div class="cell cell-4"></div>
                        <div class="cell cell-5"></div>
                        <div class="cell cell-6"></div>
                          
                </div>
                
                
          </div>
        </div>
            
            
            
            
        <svg width="0" height="0" class="filters">
            <defs>
                <filter id="filter0_dd" x="0.858887" y="28.9809" width="644.262" height="124.108" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="2"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.215686 0 0 0 0 0.686275 0 0 0 0 0.54902 0 0 0 1 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="4"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.215686 0 0 0 0 0.686275 0 0 0 0 0.54902 0 0 0 1 0"/>
                <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow" result="shape"/>
                </filter>
            
        
            </defs>
        </svg>
      </div>
</div>
