<!DOCTYPE html>
<html>
<head>
    <title>Django Channels MQTT</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var socket = new WebSocket('ws://' + window.location.host + '/ws/mqtt/');

            socket.onmessage = function(event) {
                var data = event.data;
                // Procesa los datos recibidos en tiempo real
            };
        });
    </script>
</head>
<body>
    <h1>Recepción de datos MQTT en tiempo real con Django Channels</h1>
</body>
</html>