<label for="alarm">Alerta:</label>
<span id="alarm"></span>
<span id="alarm-alert"></span><br>

<!-- Agregar una alerta emergente de Bootstrap -->
<div class="alert alert-danger" id="alarm-alert-box" style="display: none;">
    ¡Alerta activada!
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const socket = new WebSocket('ws://localhost:8000/ws/mqtt_consumer/');

    function updateLatestData() {
        $.ajax({
            url: '/get_latest_data/',  // URL de la vista para obtener el último dato
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('#oxygen').text(data.oxygen);
                $('#pressure').text(data.pressure);
                $('#flow').text(data.flow);
                $('#co2').text(data.co2);
                $('#spo2').text(data.spo2);
                $('#alarm').text(data.alarm ? 'Activada' : 'Desactivada');

                // Mostrar o ocultar la alerta de Bootstrap según la alarma
                if (data.alarm) {
                    $('#alarm-alert-box').show();
                } else {
                    $('#alarm-alert-box').hide();
                }
            }
        });
    }

    // Actualizar cada 5 segundos (ajusta según tus necesidades)
    setInterval(updateLatestData, 200);
</script>
